<html>
<head>
<link rel="stylesheet" type="text/css" href="css/reader.css">
<link rel="stylesheet" type="text/css" href="css/normalize.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-combined.min.css">


<script src="js/libs/bootstrap.min.js"></script>
<script src="js/libs/angular.min.js"></script>
<script src="js/modules/RSSFeedApp.js"></script>
<script src="js/controllers/FeedCtrl.js"></script>
<script src="js/services/FeedService.js"></script>
</head>
<body>

<div class="container-fluid" data-ng-app="RSSFeedApp" class="ng-scope">
    <div data-ng-controller="FeedCtrl">
        <div class="row-fluid">
            <h4>Feed Reader using AngularJS</h4>
            <form>
                <div class="input-prepend span12">
              <div class="btn-group">
                <button class="btn btn-info" type="button" tabindex="-1" data-ng-click="loadFeed()">{{loadButonText}}</button>
                <ul class="dropdown-menu">
                  <li><a href="#" ng-click="feedSrc='http://rss.cnn.com/rss/cnn_topstories.rss';loadFeed($event);">CNN</a></li>
                  <li><a href="#" ng-click="feedSrc='http://news.ycombinator.com/rss';loadFeed($event)">Hacker News</a></li>
                  <li><a href="#" ng-click="feedSrc='http://feeds2.feedburner.com/Mashable';loadFeed($event)">Mashable</a></li>                  
                  <li><a href="#" ng-click="feedSrc='http://feeds.huffingtonpost.com/huffingtonpost/raw_feed';loadFeed($event)">Huffington Post</a></li>
                  <li><a href="#" ng-click="feedSrc='http://feeds.feedburner.com/TechCrunch';loadFeed($event)">TechCrunch</a></li>
                </ul>
              </div>
                    <input type="text" class="span10" autocomplete="off" placeholder="Enter Feed URL" data-ng-model="feedSrc" />
            </div>
               <div class="input-prepend" ng-show="feeds.length > 0">
              <span class="add-on"><i class="icon-search"></i></span>
                   <input class="span12" type="text" placeholder="Search" data-ng-model="filterText" />
               </div>
            </form>
        </div>
        <div class="row-fluid">
            <ul class="unstyled">
                <span class="badge badge-warning" ng-show="feeds.length > 0">{{(feeds | filter:filterText).length}} Items</span>
                <li ng-repeat="feed in feeds | filter:filterText">                    
                    <h5><a href="{{feed.link}}">{{feed.title}}</a></h5>                                        
                    <p class="text-left">{{feed.contentSnippet}}</p>                    
                    <span class="small">{{feed.publishedDate}}</span>
                </li>                
            </ul>            
        </div>
    </div>
</div>
</body>
</html>